.tab { margin-left: 2em; }
.social img {
  height: 3rem;
  margin: .6rem;
}

footer {
  display: inline;
  font-size: small;
  padding-bottom: 1rem;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: white;
  color: black;
  margin: .6rem;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

a { color: blue; }
a:visited { color: purple; }
h1 { float: center; }
