.tab { margin-left: 2em; }

footer {
    position: relative;
    top: 15px;
    bottom: 15px;
    display: block;
    height: auto !important;
    height: 100%;
    font-size: small;
}

body {
    resize: both;
    font-family: Helvetica, sans-serif;
    background-color: white;
    color: black;
    padding-bottom: 15px;
    }

a { color: blue; }
a:visited { color: purple; }
h1 { float: center; }
